<!DOCTYPE html>

<head>
    <title>One day build</title>
    <link rel="stylesheet" href='../css/style.css'/>
</head>

<script src="../js/script.js"></script>

<body>
    <h1>One day build</h1>
    <h3>Light sensor status</h3>
    <p> {{light_lev}} </p>  
    <form action="http://192.168.100.26:5000/api/sensors/light/" method="GET">
        <button type="submit"> Refresh light level </button> 
    </form>

    <h3>Light status</h3>
    <p> {{led_stat}} </p>  
    <form action="http://192.168.100.26:5000/api/actuators/LED/" method="GET">
        <button type="submit"> Refresh LED status </button> 
    </form>
  
    <h3>LED state</h3> 
    <p>Write 0 for off and 1 for on</p>
    
    <form action="ip:5000/api/actuators/LED/state/" method="POST">
        <input name="state">
        <input type=submit>
    </form>

</body>

</html>